<a href="https://colab.research.google.com/github/marziyeh-sa/Machine_Learning_Fall2020/blob/main/Hands_On/HO5_Task_Non_Parametric_Density_Estimation_ML2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Non-Parametric Density Estimation

Let's get some quick practice with your new skills, you will be asked some basic questions about some hand-written adult income data

Standard scientific Python imports

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Import datasets, classifiers and performance metrics

In [ ]:
from sklearn import datasets, metrics
from sklearn.metrics import confusion_matrix

from sklearn.neighbors import KernelDensity
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.model_selection import train_test_split

The adult dataset

In [ ]:
data = pd.read_csv('/content/adult.csv')
data.head()

   age  workclass  fnlwgt  ... hours-per-week  native-country income
0   25    Private  226802  ...             40   United-States  <=50K
1   38    Private   89814  ...             50   United-States  <=50K
2   28  Local-gov  336951  ...             40   United-States   >50K
3   44    Private  160323  ...             40   United-States   >50K
4   18          ?  103497  ...             30   United-States  <=50K

[5 rows x 15 columns]

In [ ]:
data.describe()

                age        fnlwgt  ...  capital-loss  hours-per-week
count  48842.000000  4.884200e+04  ...  48842.000000    48842.000000
mean      38.643585  1.896641e+05  ...     87.502314       40.422382
std       13.710510  1.056040e+05  ...    403.004552       12.391444
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.175505e+05  ...      0.000000       40.000000
50%       37.000000  1.781445e+05  ...      0.000000       40.000000
75%       48.000000  2.376420e+05  ...      0.000000       45.000000
max       90.000000  1.490400e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

In [ ]:
from numpy import nan
df=data.replace("?",nan)

In [ ]:
null_values=df.isnull().sum()
null_values=pd.DataFrame(null_values,columns=['null'])
j=1
sum_tot=len(df)
null_values['percent']=null_values['null']/sum_tot
round(null_values*100,3).sort_values('percent',ascending=False)

                   null  percent
occupation       280900    5.751
workclass        279900    5.731
native-country    85700    1.755
age                   0    0.000
fnlwgt                0    0.000
education             0    0.000
educational-num       0    0.000
marital-status        0    0.000
relationship          0    0.000
race                  0    0.000
gender                0    0.000
capital-gain          0    0.000
capital-loss          0    0.000
hours-per-week        0    0.000
income                0    0.000

#### fill nan number

In [ ]:
df['native-country'].fillna(df['native-country'].mode()[0], inplace=True)
df['occupation'].fillna(df['occupation'].mode()[0], inplace=True)
df['workclass'].fillna(df['workclass'].mode()[0], inplace=True)

In [ ]:
null_values=df.isnull().sum()
null_values=pd.DataFrame(null_values,columns=['null'])
j=1
sum_tot=len(df)
null_values['percent']=null_values['null']/sum_tot
round(null_values*100,3).sort_values('percent',ascending=False)

                 null  percent
age                 0      0.0
workclass           0      0.0
fnlwgt              0      0.0
education           0      0.0
educational-num     0      0.0
marital-status      0      0.0
occupation          0      0.0
relationship        0      0.0
race                0      0.0
gender              0      0.0
capital-gain        0      0.0
capital-loss        0      0.0
hours-per-week      0      0.0
native-country      0      0.0
income              0      0.0

#### Data processing

#### educational-num seems to be not so important

In [ ]:
df=df.drop(["educational-num"],axis=1)

#### also fnlwgt is not so important

In [ ]:
df=df.drop(["fnlwgt"],axis=1)

creat label

In [ ]:
df.income = [1 if each=='>50K' else 0 for each in data.income]
y = df.income
y.head()

0    0
1    0
2    1
3    1
4    0
Name: income, dtype: int64

As you can see i got labels as y and encoded them if bigger than 50K to 1 else 0.

In [ ]:
df.head()

   age  workclass     education  ... hours-per-week native-country income
0   25    Private          11th  ...             40  United-States      0
1   38    Private       HS-grad  ...             50  United-States      0
2   28  Local-gov    Assoc-acdm  ...             40  United-States      1
3   44    Private  Some-college  ...             40  United-States      1
4   18    Private  Some-college  ...             30  United-States      0

[5 rows x 13 columns]

In [ ]:
from sklearn import preprocessing
import pandas as pd
le = preprocessing.LabelEncoder()

In [ ]:
df[['age', 'workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'capital-gain', 'capital-loss',
       'hours-per-week', 'native-country']]=df[['age', 'workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'capital-gain', 'capital-loss',
       'hours-per-week', 'native-country']].apply(le.fit_transform)

In [ ]:
df.drop(['income'],axis=1).head()

   age  workclass  education  ...  capital-loss  hours-per-week  native-country
0    8          3          1  ...             0              39              38
1   21          3         11  ...             0              49              38
2   11          1          7  ...             0              39              38
3   27          3         15  ...             0              39              38
4    1          3         15  ...             0              29              38

[5 rows x 12 columns]

Split data into train and test subsets

In [ ]:
from sklearn.model_selection import train_test_split
x_train , x_test,y_train,y_test = train_test_split(df,y,test_size=0.3,random_state=42)

## KNeighborsClassifier

Using adult data, Train a KNN Classifier and draw the confusion matrix according to the code.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[10473   760]
 [  996  2424]]
              precision    recall  f1-score   support

           0       0.91      0.93      0.92     11233
           1       0.76      0.71      0.73      3420

    accuracy                           0.88     14653
   macro avg       0.84      0.82      0.83     14653
weighted avg       0.88      0.88      0.88     14653

In [ ]:
print("Classification report for classifier %s:\n%s\n"
      % (classifier, metrics.classification_report(y_test, y_pred)))
disp = confusion_matrix(y_test, y_pred)
print("Confusion matrix:\n%s" % disp)

Classification report for classifier KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform'):
              precision    recall  f1-score   support

           0       0.91      0.93      0.92     11233
           1       0.76      0.71      0.73      3420

    accuracy                           0.88     14653
   macro avg       0.84      0.82      0.83     14653
weighted avg       0.88      0.88      0.88     14653


Confusion matrix:
[[10473   760]
 [  996  2424]]

#### Train the classifier for different K,

In [ ]:
error = []

for i in range(1, 40):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train, y_train)
    pred_i = knn.predict(x_test)
    error.append(np.mean(pred_i != y_test))

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(12, 6))
plt.plot(range(1, 40), error, color='red', linestyle='dashed', marker='o',
         markerfacecolor='blue', markersize=10)
plt.title('Error Rate K Value')
plt.xlabel('K Value')
plt.ylabel('Mean Error')

## Parzen

#### now train a kernerDensity model with diffrent kernels,

###1. Gaussian

In [ ]:
from sklearn.neighbors import KernelDensity
X = np.array(x_train)
Xt = np.array(x_test)
# instantiate and fit the KDE model
kde = KernelDensity(bandwidth=1.0, kernel='gaussian')
kde.fit( X)

# score_samples returns the log of the probability density
logprob = kde.score_samples(Xt)

plt.fill(Xt, np.exp(logprob), alpha=0.5)
plt.plot(X,  '|k', markeredgewidth=1)
plt.ylim(-0.02, 0.22)

https://stackabuse.com/kernel-density-estimation-in-python-using-scikit-learn/

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KernelDensity
from sklearn.model_selection import GridSearchCV

def my_scores(estimator, X):
    scores = estimator.score_samples(X)
    # Remove -inf
    scores = scores[scores != float('-inf')]
    # Return the mean values
    return np.mean(scores)

kernels = ['cosine', 'epanechnikov', 'exponential', 'gaussian', 'linear', 'tophat']
fig, ax = plt.subplots(nrows=2, ncols=3, figsize=(10, 7))
plt_ind = np.arange(6) + 231
h_vals = np.arange(0.05, 1, .1)

for k, ind in zip(kernels, plt_ind):
    grid = GridSearchCV(KernelDensity(kernel=k),
                        {'bandwidth': h_vals},
                        scoring=my_scores)
    grid.fit(x_train)
    kde = grid.best_estimator_
    log_dens = kde.score_samples(x_test)
    plt.subplot(ind)
    plt.fill(x_test, np.exp(log_dens), c='cyan')
    plt.title(k + " h=" + "{:.2f}".format(kde.bandwidth))

fig.subplots_adjust(hspace=.5, wspace=.3)
plt.show()

## Decision Tree

#### train a decision tree model with find its accuracy

In [ ]:
from sklearn.datasets import load_iris
from sklearn import tree
import pandas as pd
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics

#### Now change the model parameters to optimize it.

In [ ]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

### Boosting

#### train a Boosting model for diffrrent max depth and different learning rate and find its accuracy for validation set

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

lr_list = [0.05, 0.075, 0.1, 0.25, 0.5, 0.75, 1]

for learning_rate in lr_list:
    gb_clf = GradientBoostingClassifier(n_estimators=20, learning_rate=learning_rate, max_features=2, max_depth=2, random_state=0)
    gb_clf.fit(x_train, y_train)

    print("Learning rate: ", learning_rate)
    print("Accuracy score (training): {0:.3f}".format(gb_clf.score(x_train, y_train)))
    print("Accuracy score (validation): {0:.3f}".format(gb_clf.score(x_test, y_test)))

Learning rate:  0.05
Accuracy score (training): 0.951
Accuracy score (validation): 0.953
Learning rate:  0.075
Accuracy score (training): 0.986
Accuracy score (validation): 0.986
Learning rate:  0.1
Accuracy score (training): 0.998
Accuracy score (validation): 0.998
Learning rate:  0.25
Accuracy score (training): 1.000
Accuracy score (validation): 1.000
Learning rate:  0.5
Accuracy score (training): 1.000
Accuracy score (validation): 1.000
Learning rate:  0.75
Accuracy score (training): 1.000
Accuracy score (validation): 1.000
Learning rate:  1
Accuracy score (training): 1.000
Accuracy score (validation): 1.000